<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>NumPy</li>
<li>Matplotlib</li>
<li>TensorFlow</li>
</ol>

| Data Science Tools 
| --- |
| Apache Spark 
| TensorFlow
| Scikit-learn

<h3> Below are a few examples of evaluating arithmetic expressions in Python. </h3>

In [16]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
minutes = 200
#This will convert 200 minutes to hours by diving by 60
hours = minutes / 60
print(hours)

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>Python</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>Java</li>
    <li>Scala</li>
</ul>

<h2>Author</h2>
<text>Nagaraju Kasa</text>